body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(45deg, #22046b, #e14e42) fixed;
}
.container{
    width: 100%;
    min-height: 100vh;
    color: white;
}
.navbar{
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #22046b, #e14e42);
    position: sticky;
    top: 0px;
}
.logo{
    width: 20%;
    cursor: pointer;
    font-size: 25px;
    padding-left: 20px;
}
h3 span{
    color: #e7c82f;
}
.menu_icon{
    width: 30px;
    cursor: pointer;
    margin-left: 80px;
    font-size: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    font-size: 14px;
    padding: 5px 2px;
}
nav ul li a:hover{
    color: #e7c82f;
}
input[type="search"]{
    width: 40%;
    height: 30px;
    border-radius: 25px;
    padding-left: 30px;
    outline: none;
    background-color: transparent;
    border: 2px solid #e7c82f;
    color: white;
}
.fa-search{
    position: absolute;
    padding: 8px 5px;
    color:#ffffff;
    z-index: 1;
    font-size: 16px;
}
.fa-search:hover{
    cursor: pointer;
}
::placeholder{
    font-size: 16px;
    color: white;
}
.aside-nav{
    width: 15%;
    background-color: transparent;
    height: 500px;
    position: sticky;
    top: 80px;
}
.navigation-links{
    padding: 0px;
    margin: 0px;
   
}
.navigation-links li{
    padding: 10px 20px;
    background-color: transparent;
    transition: 300ms ease-in-out;
}
.navigation-links li:hover:not(.oncheck){
    cursor: pointer;
    padding-left: 35px;
    transition: 300ms ease-in;
    border-left: 3px solid white;
}
.oncheck{
    color: #e7c82f;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 40vh);
    grid-gap: 1%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
div #logout{
    margin-left: 40px;
    margin-right: 20px;
    background-color: white;
    color: #22046b;
    border: 2px solid #e7c82f;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
}



/* utilities */

a{
    color: white;
    text-decoration: none;
    list-style: none;
}
a:hover{
    color: #e7c82f;
}