.h_1{
    font-size: 40px;
}
.h_2{
    font-size: 30px;
}
.h_3{
    font-size: 25px;
}
.h_4{
    font-size: 20px;
}
.h_5{
    font-size: 15px;
}
.h_6{
    font-size: 10px;
}
.submit_u{
    border-radius: 25px;
    font-size: 20px;
}
.label_u{
    font-size: 20px;
}