body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(45deg, #22046b, #e14e42) fixed;
}
.container{
    width: 100%;
    min-height: 100vh;
    color: white;
}
.navbar{
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #22046b, #e14e42);
    position: sticky;
    top: 0px;
}
.logo{
    width: 15%;
    cursor: pointer;
    font-size: 25px;
    padding-left: 20px;
}
span{
    color: #e7c82f;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    font-size: 14px;
    padding: 5px 2px;
}
nav ul li a:hover{
    color: #e7c82f;
}
input[type="search"]{
    width: 80%;
    height: 50px;
    border-radius: 25px;
    padding-left: 35px;
    outline: none;
    background-color: transparent;
    border: 2px solid #e7c82f;
    color: white;
    font-size: 20px;
}
.fa-search{
    position: absolute;
    padding: 15px 10px;
    color:#22046b;
    z-index: 1;
    font-size: 20px;
}
.fa-search:hover{
    cursor: pointer;
}
::placeholder{
    font-size: 20px;
    color: #22046b;
}
.aside-nav{
    width: 15%;
    background-color: transparent;
    height: 500px;
    position: sticky;
    top: 80px;
}
.navigation-links{
    padding: 0px;
    margin: 0px;
   
}
.navigation-links li{
    padding: 10px 20px;
    background-color: transparent;
    transition: 300ms ease-in-out;
}
.navigation-links li:hover:not(.oncheck){
    cursor: pointer;
    padding-left: 35px;
    transition: 300ms ease-in;
    border-left: 3px solid white;
}
.oncheck{
    color: #e7c82f;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.home{
    margin-top: 200px;
    margin-left: 100px;
    color: white;
}
div #logout{
    margin-left: 40px;
    margin-right: 20px;
    background-color: white;
    color: #22046b;
    border: 2px solid #e7c82f;
    border-radius: 5px;
    padding: 3px;
    font-size: 15px;
}
li span{
    color: #ffffff;
    margin-left: 30px;
}
.about{
    line-height: 20px;
}
.h_4{margin-top: 20px;
    margin-bottom: 5px;
}

/* utilities */

a{
    color: white;
    text-decoration: none;
    list-style: none;
}
a:hover{
    color: #e7c82f;
}